<div class="card animate__animated animate__fadeIn animate__fast mt-3">
  <div class="card-header">Clientes</div>

  <div class="row">
    <div class="col-md-7">
      <div class="card-body text-primary">
        <form novalidate  #formulario="ngForm" (ngSubmit)="guardarCliente(formulario)">
          <div class="form-group">
            <label for="identificador" class="col-form-label"
              >Identificador</label
            >
            <div>
              <input
                type="text"
                class="form-control"
                name="identificador"
                [(ngModel)]="cliente.identificador"
                minlength=6
                required
                id="inputIdentificador"
              />
              <small class="text-dark">El identificador tiene que tener al menos 6 letras</small>
            </div>
          </div>

          <div class="form-group">
            <label for="nombre" class="col-form-label">Nombre</label>
            <div>
              <input
                type="text"
                class="form-control"
                name="nombre"
                [(ngModel)]="cliente.nombre"
                required
                minlength="3"
                id="inputNombre"
              />
              <small class="text-dark">El nombre tiene que tener al menos 3 letras</small>
            </div>
          </div>

          <div class="form-group">
            <label for="email" class="col-form-label">Email</label>
            <div>
              <input
                type="email"
                class="form-control"
                name="email"
                [(ngModel)]="cliente.email"
                id="inputEmail"
                minlength="6"
                required
              />
              <small class="text-dark">El email tiene que tener al menos 6 letras</small>
            </div>
          </div>

          <div class="mt-2">
              <button 
                [disabled]="guardando"
                class="btn btn-primary me-3">
                <i [ngClass]="{'fas fa-spinner fa-spin': guardando   }"></i>
                {{ tituloBoton }}</button>
              <button 
              type="button"
              routerLink="/clientes"
              class="btn btn-secondary">Cancelar</button>
          </div>
       
        </form>
      </div>
    </div>

    <div class="col-md-5">
      <div class="card-body" align="center">
        <h4 class="card-title">Foto del cliente</h4>
        <h6 class="card-subtitle"></h6>

        <img *ngIf="!imagenTemp" [src]="cliente.clouds | imagen:'clientes'" class="w150 mb-2">
        <img *ngIf="imagenTemp" [src]="imagenTemp" class="w150 mb-2">

        <input type="file" (change)="seleccionImagen( $event.target.files[0] )">

        <br />
        <br />

        <button
          type="button"
          class="btn btn-block btn-success waves-effect waves-light m-r-10"
          (click)="cambiarImagen()" [disabled]="!imagenSubir" >
          <i class="fa fa-save"></i> Actualizar Foto
        </button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="card-body">
      <h4 class="card-title">Sus vehículos</h4>
      <app-vehiculos-cliente [clienteId]="clienteIdDeEsteComponente"></app-vehiculos-cliente>
    </div>
  </div>
</div>
